.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #141414;
    flex-direction: row;
    padding-left: 9rem;
    padding-right: 9rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.header{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #FF6400;
}
.logoescrito{
    height: 5rem;
}
.secaoesquerda{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}
.linknone {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.logodesenho {
    height: 4rem;
}
a{
    text-decoration: none;
}
.btnuser{
    background-color: transparent;
    cursor: pointer;
}
.produtos {
    font-size: 1.2rem;
}
header section a span:hover {
    transition-timing-function: ease;
    transition-duration: 0.7s;
    color: #FF6400;
    border-radius: 5px;
    cursor: pointer;
}
.navmobile{
    display: block;
    margin-bottom: 1rem;
    text-align: center;
}
.mobilemenu{
    gap: 5rem;
}
.homemobile{
    display: none;
}
.secaodireita {
    display: flex;
    align-items: center;
    gap: 1rem; /* Espaçamento entre os elementos */
  }
  
  /* Estilos adicionais para o ícone de logout */
  .logoutButton {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .userPhoto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
  }
  
@media screen and (max-width: 1440px    ){
    .nav {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .secaoesquerda
    {
        gap: 1.5rem;
    }
    .secaodireita{
        gap: 1.5rem;
    }
    .proutos{
        font-size: 1rem;
    }
    .linknone{
        gap: 1.3rem;
    }
}
@media screen and (max-width: 1024px){
    .nav {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .homemobile{
        display: block;
    }
    .linknone{
        display: none;
    }
    .homemobile{
        font-size: 1.2rem;
    }
    .navmobile{
        font-size: 1.2rem;
    }
    header div a span:hover {
        transition-timing-function: ease;
        transition-duration: 0.7s;
        color: #FF6400;
        border-radius: 5px;
        cursor: pointer;
    }
}
@media screen and (max-width: 768px    ){
    .nav {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .logodesenho{
        display: none;
    }
    .homemobile{
        display: block;
    }
    .linknone{
        display: none;
    }
    .homemobile{
        font-size: 1.2rem;
    }
    .navmobile{
        font-size: 1.2rem;
    }
    header div a span:hover {
        transition-timing-function: ease;
        transition-duration: 0.7s;
        color: #FF6400;
        border-radius: 5px;
        cursor: pointer;
    }
}
@media screen and (max-width: 425px    ){
    .nav {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .logodesenho{
        display: none;
    }
    .homemobile{
        display: block;
    }
    .linknone{
        display: none;
    }
    .homemobile{
        font-size: 1rem;
    }
    .navmobile{
        font-size: 1rem;
    }
    .secaodireita{
        gap: 0.3rem;
    }
    header div a span:hover {
        transition-timing-function: ease;
        transition-duration: 0.7s;
        color: #FF6400;
        border-radius: 5px;
        cursor: pointer;
    }
    .secaoesquerda{
        gap: 0.5rem;
    }
}
@media screen and (max-width: 375px    ){
    .nav {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .logodesenho{
        display: none;
    }
    .logoescrito{
        height: 4rem;
    }
    .homemobile{
        display: block;
    }
    .linknone{
        display: none;
    }
    .homemobile{
        font-size: 1rem;
    }
    .navmobile{
        font-size: 1rem;
    }
    header div a span:hover {
        transition-timing-function: ease;
        transition-duration: 0.7s;
        color: #FF6400;
        border-radius: 5px;
        cursor: pointer;
    }
}