.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    flex-direction: row;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #FF6400;
}
.logoescrito{
    height: 4rem;
}
.secaoesquerda{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}
.logodesenho {
    height: 4rem;
}
a{
    text-decoration: none;
}
.btnuser{
    background-color: transparent;
    cursor: pointer;
}
.secaodireita{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.produtos {
    font-size: 1.2rem;
}
header section a span:hover {
    transition-timing-function: ease;
    transition-duration: 0.7s;
    color: #FF6400;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width: 1024px){
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: black;
        flex-direction: row;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid #FF6400;
    }
}
@media screen and (max-width: 768px){
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: black;
        flex-direction: row;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid #FF6400;
    }
    .logodesenho {
        height: 3.5rem;
    }
    .logoescrito{
        height: 3.5rem;
    }
    .produtos {
        font-size: 1rem;
    }
}
@media screen and (max-width: 425px){
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: black;
        flex-direction: row;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid #FF6400;
    }
    .logodesenho {
        display: none;    
    }
    .logoescrito{
        height: 3.5rem;
    }
    .produtos {
        font-size: 1rem;
    }
    .secaoesquerda{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 0.5rem;
    }
}
@media screen and (max-width: 375px){
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: black;
        flex-direction: row;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid #FF6400;
    }
    .logodesenho {
        display: none;    
    }
    .logoescrito{
        height: 3.5rem;
    }
    .produtos {
        font-size: 0.9rem;
    }
    .secaoesquerda{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 0.5rem;
    }
}