body {
    background-color: black;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1.5rem;
}
.containerimg {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-evenly;
}
.containerspan1{
    text-align: center;
}
.spanbanner1{
    font-size: 3.5rem;
    color: #FF6400;
}
.spanbanner2{
    font-size: 2rem;
    color: #c4c4c4;
}
.containerspan2{
    text-align: center;
}
.fotoplaca{
    width: 250px;
    height: 250px;
}
.boxbanner{
    display: inline-block;
    position: relative  ;
}
.boxbanner .spanimg1 {
    position: absolute;
    top: 30vh;
    left: 10rem;
    font-size: 2.4vw;
    color: black;
    line-height: 2.8vw;
}
.bannerimg {
    width: 99.1vw;    
}
.boxbanner .spanimg2 {
    position: absolute;
    width: 20%;
    top: 36vh;
    left: 10rem;
    font-size: 1vw;
    color: #212529;
    line-height: 1vw;
}

.boxbanner .btnbanner {
    position: absolute;
    width: 10%;
    height: 5%;
    background-color: #ff6400;
    top: 41vh;
    left: 10rem;
    font-size: 1vw;
    color: white;
    border-radius: 20px 0 20px 0px;
}
.btnbanner:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        transition-duration: 0.7s;
}
.fotoplaca:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition-duration: 0.7s;
}
@media screen and (max-width: 1440px){
    .bannerimg{
        width: 100vw;
    }
    .boxbanner .spanimg1{
        font-size: 3vw;
        left: 7rem;
        top: 30vh;
    }
    .boxbanner .spanimg2
    {
        font-size: 1vw;
        left: 7rem;
        top: 36vh;
    }
    .boxbanner .btnbanner {
        position: absolute;
        width: 10%;
        height: 5%;
        background-color: #ff6400;
        top: 41vh;
        left: 7rem;
        font-size: 1vw;
        color: white;
        border-radius: 20px 0 20px 0px;
    }
}
@media screen and (max-width: 1024px){
    .bannerimg{
        width: 100vw;
    }
    .boxbanner .spanimg1{
        font-size: 4.5vw;
        left: 7rem;
        top: 20vh;
        width: 27%;
        line-height: 3vw;
    }
    .boxbanner .spanimg2
    {
        font-size: 2vw;
        left: 7rem;
        top: 29vh;
        width: 25%;
        line-height: 2vw;
    }
    .spanbanner1{
        font-size: 3rem;
    }
    .spanbanner2{
        font-size: 1.5rem;
    }
    .fotoplaca{
        width: 160px;
        height: 160px;
    }
    .boxbanner .btnbanner {
        position: absolute;
        width: 10%;
        height: 7%;
        background-color: #ff6400;
        top: 38vh;
        left: 7rem;
        color: white;
        font-size: 1.2vw;
        border-radius: 20px 0 20px 0px;
    }
}
@media screen and (max-width: 768px){
    .bannerimg{
        width: 100vw;
    }
    .boxbanner .spanimg1{
        font-size: 5.5vw;
        left: 7rem;
        top: 7vh;
        width: 20%;
        line-height: 4vw;
    }
    .boxbanner .spanimg2
    {
        font-size: 1.5vw;
        left: 7rem;
        top: 21vh;
        width: 20%;
        line-height: 2vw;
    }
    .spanbanner1{
        font-size: 2.5rem;
    }
    .spanbanner2{
        font-size: 1rem;
    }
    .fotoplaca{
        width: 130px;
        height: 130px;
    }
    .boxbanner .btnbanner {
        position: absolute;
        width: 10%;
        height: 7%;
        background-color: #ff6400;
        top: 26vh;
        left: 7rem;
        color: white;
        font-size: 1.2vw;
        border-radius: 20px 0 20px 0px;
    }
}
@media screen and (max-width: 650px){
    .bannerimg{
        width: 100vw;
    }
    .boxbanner .spanimg1{
        font-size: 5.5vw;
        left: 7rem;
        top: 7vh;
        width: 20%;
        line-height: 4vw;
    }
    .boxbanner .spanimg2
    {
        font-size: 1.5vw;
        left: 7rem;
        top: 18vh;
        width: 20%;
        line-height: 2vw;
    }
    .spanbanner1{
        font-size: 2.5rem;
    }
    .spanbanner2{
        font-size: 1rem;
    }
    .fotoplaca{
        width: 130px;
        height: 130px;
    }
    .boxbanner .btnbanner {
        position: absolute;
        width: 10%;
        height: 7%;
        background-color: #ff6400;
        top: 22vh;
        left: 7rem;
        color: white;
        font-size: 1.2vw;
        border-radius: 20px 0 20px 0px;
    }
}
@media screen and (max-width: 425px){
    .bannerimg{
        width: 100vw;
    }
    .boxbanner .spanimg1{
        font-size: 7vw;
        left: 2rem;
        top: 6vh;
        width: 20%;
        line-height: 4vw;
    }
    .spanbanner1{
        font-size: 2rem;
    }
    .fotoplaca{
        width: 90px;
        height: 90px;
    }
    .boxbanner .btnbanner {
        position: absolute;
        width: 15%;
        height: 10%;
        background-color: #ff6400;
        top: 14vh;
        left: 2rem;
        color: white;
        font-size: 1.6vw;
        border-radius: 20px 0 20px 0px;
    }
    .spanimg2{
        display: none;
    }
    .placanone425{
        display: none;
    }
    .spanbanner2{
        font-size: 1rem;
    }
    .containerspan2{
        width: 80%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 375px){
    .bannerimg{
        width: 100VW;
    }
    .boxbanner .spanimg1{
        font-size: 7vw;
        left: 2rem;
        top: 3vh;
        width: 20%;
        line-height: 5vw;
    }
    .spanbanner1{
        font-size: 1.7rem;
    }
    .fotoplaca{
        width: 80px;
        height: 80px;
    }
    .boxbanner .btnbanner {
        position: absolute;
        width: 20%;
        height: 15%;
        background-color: #ff6400;
        top: 11vh;
        left: 2rem;
        color: white;
        font-size: 2vw;
        border-radius: 20px 0 20px 0px;
    }
}
@media screen and (max-width: 321px){
    .bannerimg{
        width: 100VW;
    }
    .boxbanner .spanimg1{
        font-size: 7vw;
        left: 2rem;
        top: 3vh;
        width: 20%;
        line-height: 4.5vw;
    }
    .spanbanner1{
        font-size: 1.7rem;
    }
    .containerspan2{
        width: 80%;
        margin: 0 auto;
    }
    .fotoplaca{
        width: 80px;
        height: 80px;
    }
    .placanone325{
        display: none;
    }
    .boxbanner .btnbanner {
        position: absolute;
        width: 20%;
        height: 15%;
        background-color: #ff6400;
        top: 10vh;
        left: 2rem;
        color: white;
        font-size: 2vw;
        border-radius: 20px 0 20px 0px;
    }
}