.fundologin {
    background-image: url("../img/imglogin3.jpg");
    background-repeat: no-repeat;
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}